.logo{
	width: 100%;
	background: transparent;
}

.logo_image{
	width: 100%;
	height: au;
}


.widget-title {
    border-bottom: 2px solid #289dcc;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom-color:#81d742;
}
.widget-title > span{
    background-color:#81d742;
}
.posted-on{
	font-size: 12px;
    font-weight: 500;
    color: grey;
 }
 .card-text-sub-news{
 	font-size: 15px;
 }
 .side-image{
 	padding: 3px;
 }

 .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-link{
	display: block;
    float: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;
    text-transform: uppercase;
}

.nav-item:hover{
	background: #289dcc;
}
.bg-dark{
	border-top: 3px solid #289dcc;
}